/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-Feb-2019, 14:50:14
    Author     : Lynda
*/

@media print

{    
    .no-print, .no-print *
    {
        display: none !important;
    }
    
    body
    {
    line-height: 1.2;
    }
    
    p, dl, ol, ul {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
}
}